.amazing-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
}
.div-148 {
    background: linear-gradient(90deg,
            #9b05cd 10.49%,
            rgba(37, 203, 243, 0.81) 100%);
}

.div-182 {
    display: flex;
    flex-direction: column;
    width: 80%;
}

@media (max-width: 1020px) {
    .div-182 {
        margin-top: 40px;
    }
}

.div-183 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-183 {
        max-width: 100%;
    }
}

.div-184 {
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    line-height: 43px;
    text-transform: capitalize;
}

@media (max-width: 991px) {
    .div-184 {
        max-width: 100%;
        font-size: 40px;
    }
}

.div-185 {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    max-width: 406px;
    align-self: center;
    margin-top: 28px;
}

.div-187 {
    color: #fff;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    align-self: center;
}

@media (max-width: 991px) {
    .div-187 {
        text-wrap: initial;
    }
}

.div-188 {
    display: flex;
    width: 90%;
}

@media (max-width: 991px) {
    .div-188 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.img-back {
    object-fit: cover;
    object-position: center;
    width: 80vw;
}