.div-182 {
    align-self: center;
    display: flex;
    margin-top: 150px;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-182 {
        margin-top: 40px;
    }
}

.div-183 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-183 {
        max-width: 100%;
    }
}

.div-184 {
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 43px;
    text-transform: capitalize;
}

@media (max-width: 991px) {
    .div-184 {
        max-width: 100%;
        font-size: 40px;
    }
}

.div-185 {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
    max-width: 406px;
    align-self: center;
    margin-top: 28px;
}

.div-187 {
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    align-self: center;
    text-wrap: nowrap;
}

@media (max-width: 991px) {
    .div-187 {
        text-wrap: initial;
    }
}

.div-188 {
    background-color: #000;

    display: flex;
    width: 650px;
}

@media (max-width: 991px) {
    .div-188 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-148 {
    align-items: flex-start;
    border-radius: 15px;
    align-self: center;
    display: flex;
    margin-top: 15px;
    width: 192px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 21px 20px;
    background: linear-gradient(90deg,
            #9b05cd 10.49%,
            rgba(37, 203, 243, 0.81) 100%);
    align-self: center;
    transition: .4s;
}

.img-back {
    object-fit: cover;
    object-position: center;
    width: 100vw;
}

.div-175 {
    background-color: #0059de;
    align-self: stretch;
    margin-top: 14px;
    width: 100%;
    height: 1px;
}

@media (max-width: 991px) {
    .div-175 {
        max-width: 100%;
    }
}