@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

.welcome-container {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

/* @media (min-width: 768px) and (max-width: 1202px){
    .welcome-container {
        margin-top: 103.2px;
    }
}

@media (max-width: 768px) {
    .welcome-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        background-color: #000;
    }
} */

.phrase-up {
    letter-spacing: 1.6px;
    background: linear-gradient(91deg, #ff1cf7 2.26%, #00f0ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font: 100 45px/50px "Poppins", sans-serif;
    color: white
}

.welcome-logo {
    width: 55%;
    height: 55%;
    margin-top: -28px;
}

.phrase-down {
    color: #fff;
    text-align: center;
    letter-spacing: 0.72px;
    align-self: center;
    margin-top: -39px;
    font: 400 20px/33px "Poppins", sans-serif;
}

.welcome-button-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 500px;
    justify-content: center;
    margin-top: 50px;
}

.welcome-button-container .welcome-login-btn,
.welcome-button-container .welcome-register-btn {
    width: 150px;
    height: 50px;
    border: 2.5px solid;
    color: #fff;
    cursor: pointer;
    background: rgb(29, 29, 104);
    border: 1.5px solid white;
    border-radius: 100px;
}

.welcome-button-container .welcome-login-btn:hover,
.welcome-button-container .welcome-register-btn:hover {
    border: 2.5px solid;
    background-color: white !important;
    color: rgb(29, 29, 104) !important;
    border-color: black !important;
}

.welcome-button-container.active {
    display: flex;
    flex-direction: column;
    width: auto;
}

.welcome-plane{
    margin-top: -60px;
    width: 100%;
}