.lexcom-sider {
    background: #000;
    
  }
  
  .lexcom-menu {
    height: 100%;
    background: #000;
    color: #fff;
  }

  .menu-button {
    color: white !important; /* !important se usa para asegurarse de que este estilo tenga prioridad */
    background: 'transparent';
    border: 'none';
  }

  .sider-trigger-container {
    background: #000; /* Fondo del área alrededor del botón */
  }

  .body-layout {
    margin: 0;
    padding: 0;
    background: #000;
    color: #000000;
  }
  
  .lexcom-layout {
    background: #ececec;
    background-size: cover;
    background-position: center center;
    
  }

  .navbar_logo_ {
    height: 60px;
    cursor: pointer;
    padding-left: 1%;
    display: flex;
    align-items: center;
    margin-top: 15px
  }

  .welcome {
    letter-spacing: 1.6px;
    background: linear-gradient(91deg, #ff1cf7 2.26%, #00f0ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font: 100 17px/25px "Poppins", sans-serif;
    color: white
}

.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
}

.ant-drawer-body p.site-description-item-profile-p {
  display: block;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5715;
}

.site-description-item-profile-p-label {
  display: inline-block;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}

.custom-divider_dashboard {
  border-top-color: #ffffff;
  background-color: transparent;
  /* margin-top: 10px; */
}