.lexcom-sider {
    background: #000;
    
  }
  
  .lexcom-menu {
    height: 100%;
    background: #000;
    color: #fff;
  }

  .menu-button {
    color: white !important; /* !important se usa para asegurarse de que este estilo tenga prioridad */
    background: 'transparent';
    border: 'none';
  }

  .sider-trigger-container {
    background: #000; /* Fondo del área alrededor del botón */
  }

  .body-layout {
    margin: 0;
    padding: 0;
    background: #000;
    color: #000000;
  }
  
  .lexcom-layout {
    background: #ececec;
    background-size: cover;
    background-position: center center;
    
  }

  .navbar_logo_ {
    height: 60px;
    cursor: pointer;
    padding-left: 1%;
    display: flex;
    align-items: center;
    margin-top: 15px
  }

  .welcome {
    letter-spacing: 1.6px;
    background: linear-gradient(91deg, #ff1cf7 2.26%, #00f0ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font: 100 17px/25px "Poppins", sans-serif;
    color: white
}