.container_chart {
  display: flex;
  justify-content: space-between
}

.upload-product-container {
  position: absolute;
  top: 20%;
  right: 15%;
}

.loading-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ig {
  transform: scale(2);
  transform-origin: 0 0;
  background-color: transparent;
}