.recover-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.recover-password-content {
    text-align: center;
}

.recover-title {
    color: white;
    font-size: 22px;
    padding: 20px;
}

.recover-subtitle {
    color: white;
    padding: 20px;
}

.recover-container {
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 30px;
}

.custom-divider {
    border-top-color: #ffffff;
}

.recover-form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.recover-cancel,
.recover-submit {
    display: flex;
    align-items: center;
    width: 100px;
    padding: 18px 18px;
    line-height: 120%;
    justify-content: center;
}

.recover-cancel {
    background: rgb(169, 168, 168);
    border-radius: 15px;
    color: #fff;
    margin-right: 10px;
}

.recover-submit {
    background: #1890ff;
    border-radius: 12px;
    color: #fff;
}

.recover-container {
    margin-bottom: 180px;
}

/* .recover-footer {
    margin-top: 160px;
} */

@media (max-width: 574px) {
    .recover-form-buttons {
        flex-direction: column;
        align-items: center;
    }

    .recover-cancel,
    .recover-submit {
        margin-bottom: 10px;   
        width: 100px;
    }
}

