.skeleton{
    background-color: rgba(255, 255, 255, 0.64);
    margin-top: 2%;
    padding: 5%;
    padding-inline: 10%;
    border-radius: 40px;
}

.tutorial{
    background-color: #ffffff95;
    margin-top: 2%;
    padding: 5%;
    padding-inline: 10%;
    border-radius: 40px;
}