django
djangorestframework
psycopg2-binary
django-cors-headers
python-dotenv
openai
google-search-results
djangorestframework-oauth
djangorestframework-simplejwt
djangorestframework-simplejwt[crypto]
scikit-learn==1.2.2
django-rest-passwordreset